<main>
  <p id="notice"><%= flash[:notice] %></p>
  <div class='container px-5 px-sm-0'>
    <div class='row'>
      <div class='col-md-3'>
        <%= render 'users/userinfo', user: @user %>
        <div class='row'>
            <%= link_to edit_user_path(@user.id), class:"btn btn-outline-secondary btn-block" do %>
               <i class="fas fa-user-cog"></i>
            <% end %>
        </div>
        <%= render 'songs/newsong', song: @song %>
      </div>
      <div class='col-md-8 offset-md-1'>
        <h2>Songs</h2>
        <table class='table table-hover table-inverse'>
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @songs.each do |song| %>
            <tr>
            <td>
            <%= link_to user_path(song.user_id) do %>
            <%= attachment_image_tag song.user, :profile_image , format: 'jpeg', size: "100x100" ,fallback: "default-image.jpeg" %>
            <% end %>
            </td>
            <td><%=link_to song.song_name, song_path(song.id) %></td>
            <td><%= song.opinion %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>