<main>
  <div class='container px-5 px-sm-0'>
    <div class='row'>
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h2>Editing Song</h2>
          <%= form_with model:@song, local:true do |f| %>
          <div class="form-group">
            <label for="song_name">Song name</label>
            <%= f.text_field :song_name, autofocus: true, id:"title", placeholder:"song name"%>
          </div>
          <div class="form-group">
            <label for="opinion">Opinion</label>
            <%= f.text_area :opinion, autofocus: true, id:"opinion", placeholder:"opinion"%>
          </div>
          <%= f.submit "Update Book" %>
          <br>
          <a>
            <%= link_to "Show",song_path(@song.id) %>
          </a>
          |
          <a>
          <%= link_to "Back", songs_path %>
          </a>
       <% end %>
      </div>
    </div>
  </div>

</main>